body {
  margin: 0;
  padding: 0;
}

p, table, form {
    padding-left: 1%;
}

.navbar {
    background-color: #0084b4;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #00aced
}